<div class = "director-index-wrapper">
  <div class = "container">
    <h1>Actor一覧</h1>
    <% @actors.each do |actor|%>
      <div class = "director-index">
        <%= actor.id%>,
        <%= actor.name %>
        <span class = "info-edit">
        <%= link_to '編集する',edit_actor_path(id: actor.id),{method: :get, class: 'd-link-edit'} %>
        <%= link_to '削除する',actor_path(id: actor.id),{method: :delete,class: 'd-link-delete'} %>
        </div>
      </span>
    <% end %>
    <%= link_to 'Actor入力画面へ', new_actor_path,{class: 'link_info'}%>
  </div>
</div>