<div class = "comment-wrapper">
  <div class = "container">
    <h1 class= "review">Review</h1>
    <%= form_with model: @comment, local: true do |f| %>
      <div class = "comment-write-wrapper">
        <div class = "comment-write-upper">
          <div class = "comment-img">
            <%= image_tag @movie.image.url %>
          </div>
          <div class = comment-description>
            <h1 class = "comment-movie"><%= @movie.name %></h1>
            <div  class="star-raty" id="star">
              <%= f.hidden_field :rate, id: :review_star %>
              
            </div>
            <div class = "hint">
              <span id = 'hint1'></span>
            </div>
          </div>
          
        </div>
        <p class = 'comment-input'>comment</p>
        <div class = 'comment-write'>
          <%= f.text_area :comment, class: 'new-comment' %>
          <%= f.hidden_field :movie_id, value:@movie.id %>
        </div>
        <div class= "comment-btn-w">
            <%= f.submit '保存', class: 'comment-btn' %>
        </div>
      </div>
      
      <% end %>
  </div>
</div>
<script>
$(document).ready(function(){
  $('#star').raty({
    size: 36,
    number:5,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn:   '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'comment[rate]',
    half: true,
    halfShow    : true,
    target: '#hint1',
    targetType: 'number',
    targetKeep: true,
    precision: true,
    round: { down: .25, full: .6, up: .76 },      
    click: function(score, evt) {
    alert('ID: ' + this.id + "\nscore: " + score + "\nevent: " + evt);
    var score = Math.round(score*2)/2;
}
  });
});
</script>
