<div class = "index-wrapper">
  <div class = 'container'>
    <% @movies.each do |movie| %>
        <div class = "index-wrapper-up">
          <div class = "index-image">
          <%= link_to movie_path(id: movie.id) do %>
            <% if movie.image != nil %>
              <%= image_tag movie.image.url, size: '150x200' %>  
            <% end %>
          <% end %>
          </div>
          <div class = "index-description">
            <h1 class = "index-name">
              <%= movie.name %>
            </h1>
            <span class= "index-open-house">
              上映日:<%= movie.open_house.strftime('%Y年%m月%d日') %>
            </span>
            /
            <span class = "index-time">
              上映時間:<%= movie.running_time %>分
            </span>
            <div>
            <span class = "index-junle">
              ジャンル:
              <% movie.junles.each do |junle| %>
              <%= junle.name %>
              <% end %>
            </spam>
            /
            <span class = "index-director">
              監督:
              <% movie.directors.each do |director| %>
              <%= director.name %>
              <% end %>
            </span>
            </div>
            <div class = index-summary>あらすじ:</div>
            <p class = "index-movie-summary">
              <%= movie.summary %>
            </p>
          </div>
        </div>
    <% end %>
    <%= paginate @movies %>
  </div>
</div>