<div class = "search-result-wrapper">
  <div class = "container">
    <% if @movies.present? %>
      <% if params[:how_search] =='raiting' %>
        <h1 class = "search-name">'星<%= @rate_name %>個以上'でヒットした映画 <%= @movies.count %>件</h1>
      <% else %>
        <h1 class = "search-name">'<%= @search_name %>' でヒットした映画 <%= @movies.count %>件</h1>
      <% end %>
      <div class = "search-result">
        <% @movies[0..11].each do |movie| %>
          <%= link_to movie_path(id: movie.id) do %>
            <div class = "search-result-index">
              <%= image_tag movie.image.url %>
              <h1><%= movie.name %></h1>
            </div>
          <% end %>
        <% end %>
        <%= paginate @movies %>
      </div>
    <% elsif @movies = nil%> 
      <div class = "no-hit">
        <p>ヒットしませんでした</p>
      </div>
    <% else %>
      <div class = "no-hit">
        <p>ヒットしませんでした</p>
      </div>
    <% end %>
  </div>
</div>