<div class = "search-result-wrapper">
  <div class = "container">
    <% if @movies.present? %>
      <h1 class = "search-name">'<%= @search_name %>' に関する映画 <%= @movies.count %>件</h1>
      <div class = "search-result">
        <% @movies[0..11].each do |movie| %>
          <%= link_to movie_path(id: movie.id) do %>
            <div class = "search-result-index">
              <%= image_tag movie.image.url,size:'210x300' %>
              <h1><%= movie.name %></h1>
            </div>
          <% end %>
        <% end %>
        <%= paginate @movies %>
      </div>
      
    <% else %>
      <div class = "no-hit">
        <p>ヒットしませんでした</p>
      </div>
    <% end %>
  </div>
</div>