<div class="user-page-wrapper">
  <div class="container">
    <div class="user-name">
      <h1>' <%= @user.name %> 'さんがレビューした映画<%= @movies.count %>件</h1>
    </div>
    
    <div class="user-movie-wrapper">
      <% @movies.each do |movie| %>
        <div class='user-movie'>
          <%= link_to movie_path(id: movie.id) do %>
            <%= image_tag movie.image.url %>
          <% end %>
          <div class="user-movie-rating">
          
          </div>
          <div class='user-movie-name'>
          <%= movie.name %>
          </div>
        </div>
      <% end %>
    </div>
    <div class = 'p-edit'>
      <%= link_to 'プロフィール編集', edit_user_path(id: @user.id), method: :get %>
    </div>
  </div>
</div>