<!DOCTYPE html>
<html>
  <head>
    <title>Choim</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class = 'header-wrapper'>
        <div class = "header-up">
          <div class = "container">
            <ul class = "menu-up">
              <% if logged_in? %>
                <li class = "line-right-logout">
                  <%= link_to '映画情報登録', new_movie_path %>
                </li>
                <li class = "line-right-logout">
                  <%= link_to 'マイページ', '#' %>
                </li>
                <li class = "line-right-end-logout">
                  <%= link_to 'ログアウト', logout_path, method: :delete  %>
                </li>
              <% else %>
                <li class = "line-right">
                  <%= link_to '新規登録', new_user_path %>
                </li>
                <li class = "line-right">
                  <%= link_to 'ログイン', login_path %>
                </li>
                <li class = "line-right-end">
                  <%= link_to 'TOP', root_path %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class = "header-down">
          <%= link_to image_tag('rogo1.png', class:'rogo-img'), root_path %>
            <%= form_with url:search_path method: :get do |f| %>
              <%=f.text_field :name class:"search-form"%>
            <div class = "menu-down-left">
              <label><%= f.radio_button :name %>映画検索</label>
              <input type = "radio" name = 'search' value='cast' class="check" >
              <label_for = "search-cast">cast検索</label>
              <input type = "radio" name = 'search' value='user' class ="check" >
              <label_for = "search-user">user検索</label>
            </div>
            <div class = 'menu-down-right'>
              <input type = "radio" name = 'search' value='derector' class="check" >
              <label_for = "search-derector">監督検索</label>
              <input type = "radio" name = 'search' value='assessment' class="check" >
              <label_for = "search-assessment">評価検索</label>
              <input type = "radio" name = 'search' value= 'junle' class="check" >
              <label_for = "search-junle">ジャンル検索</label>
            </div>
            <button type = 'submit' class='search-btn'>検索</button>
            <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class = "footer">
    </footer>
  </body>
</html>